/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
}

/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */
.logo a {
    text-decoration: none;
     font-family:sans serif typefaces;
     color: #555;
     font-size:25px;
    
}
.right-div {
    float: right; 
    padding: 10px;
    margin-right:0;
    font-size:20px;
    display:inline-block;
}
.right-div a{
    text-decoration:none;
    cursor:pointer;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;
    font-size:16px;
    font-weight:900;

}
.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #CECECE;
    width:100%
}
.menu-top-active {
    background-color:#eeeeee;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}
.navbar-brand >a{
    margin-left:80px;
}
.navbar-nav 
{   
    margin-left:70px;
   

}
.navbar-inner{
padding-left:0;
padding-right:0;
} 
.navbar {
    min-height: 70px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}


/* =============================================================
   SLIDESHOW / CAROUSEL STYLES
 ============================================================ */

#carousel-div {
    border:3px solid #e1e1e1;
}
.carousel-caption {
    top:50px;
}
    .carousel-caption h1 {
        text-align:center;
        font-size:30px;
        font-weight:900;
        text-transform:uppercase;
        background-color:rgba(0, 0, 0, 0.65);
        max-width:440px;
        padding:15px 25px;
        


    }
     .carousel-caption h2 {
        text-align:center;
        font-size:25px;
        font-weight:900;
        text-transform:uppercase;
        background-color:rgba(0, 0, 0, 0.65);
        max-width:340px;
        padding:15px 25px;
        


    }
 

/* =============================================================
  MEDIA QUERIES 
 ============================================================ */


@media (min-width: 740px) and (max-width: 1040px) {
    .carousel-caption h2 {
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 740px) {
    .carousel-caption h1 {
        display: none;
    }

    .carousel-caption h2 {
        display: none;
    }
}



