
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TaylorNav.cshtml";
}
<span class="bg-success" style="font-size:larger; font-weight:700">@TempData["msg"]</span>
<div class="jumbotron">
    <h1 style="text-align:center; ">Welcome To Stitch Fab</h1>
</div>



