
@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_TaylorNav.cshtml";
}


<div class="container row">
    <h2>ViewOrder</h2>
    <div class="col-md-12">
        <h2>List of Orders</h2>
        <div class="table-responsive">

            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Orders</th>

                </thead>
                <tbody>
                    <tr>
                        <td>Mohsin</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>isometric.mohsin@gmail.com</td>
                        <td>+923335586757</td>
                        <td><a href="\Tailor\ViewOrder" style="cursor:pointer">View Order</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>



